@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/FredokaOne-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/VarelaRound-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Lexend-VariableFont_wght.woff2') format('woff2');
}